<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xh.mapper.RoleMapper">

    <resultMap id="role" type="com.xh.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>
    
    <select id="getRoleList" resultMap="role">
        select * from base_role
    </select>

    <insert id="addRole" parameterType="com.xh.entity.Role">
        insert into base_role(role_name)
        values(#{roleName})
    </insert>

</mapper>